@page
@model LMS.Pages.Account.ProfileDetailsPageModel
@{
    ViewData["Title"] = "Profile Details";
}

<div class="form-group">
    <label for="userName">Logged-in User:</label>
    <label>@User.Identity.Name</label>
</div>

    <form method="get" class="mb-4">
        <div class="input-group">
            <input class="form-control" asp-for="_adminProfile.SearchId" />
            <div class="input-group-append" >
                <button type ="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

@if (Model._adminProfile.SearchId != null)
{
    @if (Model._adminProfile.User != null)
    {
        <table class="table table-bordered text-start">
            <tbody>
                <tr>
                    <th scope="row">პირადი ნომერი:</th>
                    <td>@Model._adminProfile.User.PersonalID</td>
                </tr>
                <tr>
                    <th scope="row">სახელი (ლათინურად):</th>
                    <td>@Model._adminProfile.User.FirstName</td>
                </tr>
                <tr>
                    <th scope="row">გვარი (ლათინურად):</th>
                    <td>@Model._adminProfile.User.LastName</td>
                </tr>
                <tr>
                    <th scope="row">Email:</th>
                    <td>@Model._adminProfile.User.Email</td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger text-center">No student found with the given Personal ID.</p>
    }
}


